<li>
    <span class="vr"></span><strong>12.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>1.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>2.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>3.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>4.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>5.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>6.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>7.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>8.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>9.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>10.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>11.00am</strong>
</li>
<li>
    <span class="vr"></span><strong>12.00pm</strong>
</li>
<li>
    <span class="vr"></span><strong>1.00pm</strong>
</li>
<li>
    <span class="vr"></span><strong>2.00pm</strong>
</li>
<li>
    <span class="vr"></span><strong>3.00pm</strong>
</li>
<li>
    <span class="vr"></span><strong>4.00pm</strong>
</li>
<li>
    <span class="vr"></span><strong>5.00pm</strong>
</li>
<li>
    <span class="vr"></span><strong>6.00pm</strong>
</li>
<li>
    <span class="vr"></span><strong>7.00pm</strong>
</li>
<li>
    <span class="vr"></span><strong>8.00pm</strong>
</li>
<li>
    <span class="vr"></span><strong>9.00pm</strong>
</li>
<li>
    <span class="vr"></span><strong>10.00pm</strong>
</li>
<li>
    <span class="vr"></span><strong>11.00pm</strong>
</li>
