<li>
    <span class="vr"></span><strong>12.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>1.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>2.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>3.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>4.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>5.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>6.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>7.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>8.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>9.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>10.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>11.00AM</strong>
</li>
<li>
    <span class="vr"></span><strong>12.00PM</strong>
</li>
<li>
    <span class="vr"></span><strong>1.00PM</strong>
</li>
<li>
    <span class="vr"></span><strong>2.00PM</strong>
</li>
<li>
    <span class="vr"></span><strong>3.00PM</strong>
</li>
<li>
    <span class="vr"></span><strong>4.00PM</strong>
</li>
<li>
    <span class="vr"></span><strong>5.00PM</strong>
</li>
<li>
    <span class="vr"></span><strong>6.00PM</strong>
</li>
<li>
    <span class="vr"></span><strong>7.00PM</strong>
</li>
<li>
    <span class="vr"></span><strong>8.00PM</strong>
</li>
<li>
    <span class="vr"></span><strong>9.00PM</strong>
</li>
<li>
    <span class="vr"></span><strong>10.00PM</strong>
</li>
<li>
    <span class="vr"></span><strong>11.00PM</strong>
</li>
