<section class="section-mini-guide clearfix">
    <div class="row">
        <div class="col-md-12">
            <header class="title-middle">
                <h2>Brief Guide</h2>
                <button class="btn btn-lg btn-generic btn-title hidden-xs">View Full Event Guide <i class="fa fa-lg fa-angle-double-right"></i></button>
            </header>
        </div>
    </div>
    <div class="row-no-padding">
        <div id="miniGuideCommons" class="slider center">
            <div class="mini-item col-md-4 col-sm-6 live">
                <div class="inner">
                    <a href="player.html">
                        <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                        <h5>Monday <span>7 July 2014</span> 1:30pm</h5>
                        <p>
                            House of Commons
                        </p>
                        <i class="fa fa-live-badge fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="mini-item col-md-4 col-sm-6">
                <div class="inner">
                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                    <h5>Tuesday <span>8 July 2014</span> 1:30pm</h5>
                    <p>
                        Public Accounts Committee
                    </p>
                </div>
            </div>
            <div class="mini-item col-md-4 col-sm-6">
                <div class="inner">
                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                    <h5>Wednesday <span>9 July 2014</span> 1:30pm</h5>
                    <p>
                        First Delegated Legislation Committee
                    </p>
                </div>
            </div>
            <div class="mini-item col-md-4 col-sm-6">
                <div class="inner">
                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                    <h5>Thursday <span>10 July 2014</span> 1:30pm</h5>
                    <p>
                        Eleventh Delegated Legislation Committee
                    </p>
                </div>
            </div>
            <div class="mini-item col-md-4 col-sm-6">
                <div class="inner">
                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                    <h5>Friday <span>11 July 2014</span> 1:30pm</h5>
                    <p>
                        Third Delegated Legislation Committee
                    </p>
                </div>
            </div>

            <div class="mini-item col-md-4 col-sm-6">
                <a href="#" class="clearfix">
                    <div class="inner">
                        <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                        <h5>Monday <span>14 July 2014</span> 1:30pm</h5>
                        <p>
                            Second Delegated Legislation Committee
                        </p>
                    </div>
                </a>
            </div>
            <div class="mini-item col-md-4 col-sm-6">
                <div class="inner">
                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                    <h5>Tuesday <span>15 July 2014</span> 1:30pm</h5>
                    <p>
                        Twelfth Delegated Legislation Committee
                    </p>
                </div>
            </div>
            <div class="mini-item col-md-4 col-sm-6">
                <div class="inner">
                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                    <h5>Wednesday <span>16 July 2014</span> 1:30pm</h5>
                    <p>
                        Fifth Delegated Legislation Committee
                    </p>
                </div>
            </div>
            <div class="mini-item col-md-4 col-sm-6">
                <div class="inner">
                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                    <h5>Thursday <span>17 July 2014</span> 1:30pm</h5>
                    <p>
                        Energy and Climate Change Committee
                    </p>
                </div>
            </div>
            <div class="mini-item col-md-4 col-sm-6">
                <div class="inner">
                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                    <h5>Friday <span>18 July 2014</span> 1:30pm</h5>
                    <p>
                        Business, Innovation and Skills Committee
                    </p>
                </div>
            </div>
            <div class="mini-item col-md-4 col-sm-6">
                <div class="inner">
                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                    <h5>Monday <span>21 July 2014</span> 1:30pm</h5>
                    <p>
                        High Speed Rail (London - West Midlands) Bill Committee
                    </p>
                </div>
            </div>
            <div class="mini-item col-md-4 col-sm-6">
                <div class="inner">
                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-mini-guide"></span>
                    <h5>Tuesday <span>22 July 2014</span> 1:30pm</h5>
                    <p>
                        Westminster Hall
                    </p>
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-lg btn-block btn-generic btn-backup visible-xs">View Full Event Guide <i class="fa fa-lg fa-angle-double-right"></i></button>
    </div>
</section>