<section id="carouselCommons" class="carousel section-home-carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <!--item-->
        <div class="item active">
            <div class="carousel-caption row-no-padding">
                <a href="player.html">
                    <div class="carousel-light-bg col-xs-8 col-sm-6 col-md-4">
                        <div class="carousel-caption-inner">
                            <h3 class="text-uppercase">Monday 7 July 1:30pm</h3>
                            <p>House of Commons</p>
                            <span class="live-badge"><i class="fa fa-live-badge fa-2x"></i> Live</span> <span class="vr-caption"></span>
                        </div>
                    </div>

                    <div class="carousel-dark-bg col-xs-4 col-sm-2 col-md-2">


                        <div class="carousel-caption-inner">
                            <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>

                            <span class="text-uppercase visible-md visible-lg visible-sm">Play Event</span>
                        </div>
                    </div>


                    <div class="col-xs-2 col-sm-2 col-md-2 pull-right text-right hidden-xs"> </div>
                </a>
            </div>
        </div>
        <!--item-->
        <div class="item">
            <div class="carousel-caption row-no-padding">
                <a href="#">

                    <div class="carousel-light-bg col-xs-8 col-sm-6 col-md-4">
                        <div class="carousel-caption-inner">
                            <h3 class="text-uppercase">Monday 8 July 1:30pm</h3>
                            <p>House of Commons</p>
                            <span class="vr-caption"></span>
                        </div>
                    </div>
                    <div class="carousel-dark-bg col-xs-4 col-sm-2 col-md-2">
                        <div class="carousel-caption-inner"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span><span class="text-uppercase visible-md visible-lg">Play Event</span> </div>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 pull-right text-right hidden-xs"> </div>
                </a>
            </div>
        </div>
        <!--item-->
        <div class="item">
            <div class="carousel-caption row-no-padding">
                <a href="#">

                    <div class="carousel-light-bg col-xs-8 col-sm-6 col-md-4">
                        <div class="carousel-caption-inner">
                            <h3 class="text-uppercase">Tuesday 9 July 1:30pm</h3>
                            <p>House of Commons</p>
                            <span class="vr-caption"></span>
                        </div>
                    </div>
                    <div class="carousel-dark-bg col-xs-4 col-sm-2 col-md-2">
                        <div class="carousel-caption-inner"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span><span class="text-uppercase visible-md visible-lg">Play Event</span> </div>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 pull-right text-right hidden-xs"> </div>
                </a>
            </div>
        </div>
        <!--item-->
        <div class="item">
            <div class="carousel-caption row-no-padding">
                <a href="#">
                    <div class="carousel-light-bg col-xs-8 col-sm-6 col-md-4">
                        <div class="carousel-caption-inner">
                            <h3 class="text-uppercase">Wednesday 10 July 1:30pm</h3>
                            <p>House of Commons</p>
                            <span class="vr-caption"></span>
                        </div>
                    </div>
                    <div class="carousel-dark-bg col-xs-4 col-sm-2 col-md-2">
                        <div class="carousel-caption-inner"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="text-uppercase visible-md visible-lg">Play Event</span> </div>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 pull-right text-right hidden-xs"> </div>
                </a>
            </div>
        </div>

        <!--item-->
        <div class="item">
            <div class="carousel-caption row-no-padding">
                <a href="#">

                    <div class="carousel-light-bg col-xs-8 col-sm-6 col-md-4">
                        <div class="carousel-caption-inner">
                            <h3 class="text-uppercase">Thursday 11 July 1:30pm</h3>
                            <p>Public Accounts Committee</p>
                            <span class="vr-caption"></span>
                        </div>
                    </div>
                    <div class="carousel-dark-bg col-xs-4 col-sm-2 col-md-2">
                        <div class="carousel-caption-inner"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="text-uppercase visible-md visible-lg">Play Event</span> </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 pull-right text-right hidden-xs"> </div>
                </a>
            </div>
        </div>

        <!--item-->
        <div class="item">
            <div class="carousel-caption row-no-padding">
                <a href="#">
                    <div class="carousel-light-bg col-xs-8 col-sm-6 col-md-4">
                        <div class="carousel-caption-inner">
                            <h3 class="text-uppercase">Friday 12 July 1:30pm</h3>
                            <p>First Delegated Legislation Committee</p>
                            <span class="vr-caption"></span>
                        </div>
                    </div>
                    <div class="carousel-dark-bg col-xs-4 col-sm-2 col-md-2">
                        <div class="carousel-caption-inner"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="text-uppercase visible-md visible-lg">Play Event</span> </div>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 pull-right text-right hidden-xs"> </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carouselCommons" data-slide-to="0" class="active"></li>
        <li data-target="#carouselCommons" data-slide-to="1"></li>
        <li data-target="#carouselCommons" data-slide-to="2"></li>
        <li data-target="#carouselCommons" data-slide-to="3"></li>
        <li data-target="#carouselCommons" data-slide-to="4"></li>
        <li data-target="#carouselCommons" data-slide-to="5"></li>
    </ol>
</section>