@model IEnumerable<UKP.Website.Service.Model.EventModel>

<section class="section-recently-archived clearfix">
    <div class="row">
        <div class="col-md-12">
            <header class="title-middle">
                <h2>Recently Archived</h2>
                <button class="btn btn-lg btn-generic btn-title hidden-xs">View Archive <i class="fa fa-lg fa-angle-double-right"></i></button>
            </header>
        </div>
    </div>
    <div class="archived-wrapper">
        <a href="#" id="recentNextCommons" class="recent-next visible-lg">
            <div class="inner">
                <p>Westminster Hall</p>
                <i class="fa fa-arrow-scroll-right"></i>
            </div>
        </a> <a href="#" id="recentPrevCommons" class="recent-prev visible-lg">
            <div class="inner">
                <p>Northern Ireland Affairs Committee</p>
                <i class="fa fa-arrow-scroll-left"></i>
            </div>
        </a>
        <div class="archived-outer">
            <div class="archived-inner">
                <div id="recentlyArchivedCommons" class="slider center">
                    @foreach (var item in Model)
                    {
                        <div class="archived-item col-md-6 col-sm-6">
                            <a href="#" class="clearfix">
                                <div class="inner">
                                    <img src="@Url.Content("~/Content/img/filler-thumb-1.jpg")" alt="alt tag here" class="img-responsive"><span class="big-play fa-stack fa-lg visible-lg visible-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <span class="small-play fa-stack fa-lg hidden-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span> <span class="vr-recently-archived"></span>
                                            <h5>@item.ScheduledStartTime.ToString("dddd") <span>@item.ScheduledStartTime.ToString("d MMMM yyyy")</span>  @item.ScheduledStartTime.ToString("h:mmtt")</h5>
                                            <p>High Speed Rail (London - West Midlands) Bill Committee, and some further text to see how much this area can take before it breaks.</p>
                                            <span class="count">1 of 10</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-lg btn-block btn-generic btn-backup visible-xs">View Archive <i class="fa fa-lg fa-angle-double-right"></i></button>
    </div>
</section>