@using UKP.Website.Service.Model
@model VideoModel
           
@Html.Hidden("ContainsLogMoments", Model.LogMoments.ContainsLogMoments)

<div class="stack-player">
    <div class="stack">
        <ol>
            @foreach(var stack in Model.Stacks)
            {
                <li class="active">
                    <article>
                        <span class="vr-stack"></span>
                        <button type="button" class="btn btn-moment-expand" data-toggle="collapse" data-target="#child"><span class="sr-only"></span> <i class="fa fa-plus fa-lg"></i></button>
                        <header class="stack-item stack-parent">
                            <a href="#">
                                <h4>
                                    1. What recent assessment he has made of the role of the Prime Minister's Challenge Fund in improving access to GP services. (904103)
                                </h4>
                            </a>
                        </header>

                        <div id="child" class="collapse">
                            <hr />
                            <div class="stack-item">
                                <h5><i class="fa fa-circle"></i> <strong>Time Code:</strong> 11.34.53</h5>

                                <h5><i class="fa fa-circle"></i> <strong>Member:</strong> Robin Walker</h5>
                            </div>

                        </div>
                    </article>
                </li>
            }
        </ol>
    </div>
</div>
