@using UKP.Website.Service.Model
@model VideoModel


@foreach(var stack in Model.Stacks)
{
    <li class="stackouter">
        <article>
            <header class="stack-item">
                <h4>
                    @if(!string.IsNullOrWhiteSpace(stack.Title))
                    {
                        @stack.Title
                        <br /><br />
                    }

                    @stack.Member
                </h4>
            </header>
        </article>
    </li>
}
