@using UKP.Website.Service.Model
@model VideoModel

@foreach(var stack in Model.Stacks)
{
    <li class="stackouter">
        <article>
            <header class="stack-item">
                <h4>
                    @if(!string.IsNullOrWhiteSpace(stack.Description))
                    {
                        @stack.Description
                        <br /><br />
                    }
                    @stack.IasDisplayAs
                </h4>
            </header>
        </article>
    </li>
}