<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="IasBaseUrl" value="http://information.ukparliament.vualto.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="EPGStartDate" value="2015-02-22T00:00:00+00:00" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RssUrl" value="http://data.parliamentlive.tv/api/event/feed" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RobotsAllow" value="true" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RecaptchaKey" value="6Lcg10oUAAAAABeTCv0hMuF4x0-EwROvMduVjrFL"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RecaptchaSecret" value="6Lcg10oUAAAAAM9xVqfU-URcjMx4m46GXhYWVdnT"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="Replace" debug="false" targetFramework="4.5" />
    <customErrors xdt:Transform="Replace" defaultRedirect="/Error" mode="On">
      <error statusCode="404" redirect="/home/_404" />
    </customErrors>
  </system.web>
  <elmah xdt:Transform="Replace">
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/elmah" />
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
      </test>
    </errorFilter>
  </elmah>
  <system.webServer>
    <serverRuntime xdt:Transform="Replace" alternateHostName="parliamentlive.tv" />
    <httpProtocol>
      <customHeaders>
        <add xdt:Transform="Replace" xdt:Locator="Match(name)" name="Content-Security-Policy" value="default-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/api.js https://ssl.google-analytics.com/ga.js https://www.gstatic.com/recaptcha/; connect-src 'self' wss://*.vualto.com/signalr/; img-src 'self' http://*.ukparliament.groovygecko.com/ https://*.kaltura.com/ http://*.kaltura.com/ https://ssl.google-analytics.com/ https://vodplayer.parliamentlive.tv/ data:; font-src 'self' https://* http//*; frame-ancestors 'self' *.parliamentlive.tv/; frame-src *.vualto.com https://www.google.com/ *.parliamentlive.tv/; style-src 'self' 'unsafe-inline'" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>