<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="IasBaseUrl" value="http://information.ukparliament.vualto.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="EPGStartDate" value="2015-02-22T00:00:00+00:00" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RssUrl" value="http://data.parliamentlive.tv/api/event/feed" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="Replace" debug="false" targetFramework="4.5" />
    <customErrors xdt:Transform="Replace" defaultRedirect="/Error" mode="On">
      <error statusCode="404" redirect="/home/_404" />
    </customErrors>
  </system.web>
  <elmah xdt:Transform="Replace">
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/elmah" />
  </elmah>
</configuration>