<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="IasBaseUrl" value="http://information.ukp.uat.vualto.com" />
    <!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="IasBaseUrl" value="http://information.ukparliament.vualto.com" />-->
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RssUrl" value="http://information.ukp.uat.vualto.com/api/event/feed" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RobotsAllow" value="false" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="Replace" debug="false" targetFramework="4.5" />
    <customErrors xdt:Transform="Replace" defaultRedirect="/Error" mode="On">
      <error statusCode="404" redirect="/home/_404" />
    </customErrors>
  </system.web>
  <system.webServer>
    <serverRuntime xdt:Transform="Replace" alternateHostName="web.ukparliament.uat.vualto.com" />
    <httpProtocol>
      <customHeaders>
        <add xdt:Transform="Replace" xdt:Locator="Match(name)" name="Content-Security-Policy" value="default-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/api.js https://ssl.google-analytics.com/ga.js https://www.gstatic.com/recaptcha/ https://www.google-analytics.com/ https://www.googletagmanager.com/ https://az416426.vo.msecnd.net/scripts/; connect-src 'self' wss://*.vualto.com/signalr/ https://dc.services.visualstudio.com/v2/; img-src 'self' https://ssl.google-analytics.com/ http://*.ukparliament.groovygecko.com/ https://*.kaltura.com/ http://*.kaltura.com/ https://uat-vodplayer.parliamentlive.tv/ https://www.googletagmanager.com/ https://www.google-analytics.com/ data:; font-src 'self'; frame-ancestors 'self'; frame-src *.vualto.com https://www.google.com/; style-src 'self' 'unsafe-inline' https://www.googletagmanager.com/;" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>