@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "404 page not found";
}

<div class="container main-container">
    <br />
    <br />
    <h3>Sorry, the page you are looking for cannot be found</h3>
    <br />
    <p>
        We have recently updated this web site. It is possible that the link you have used is now out of date.
        <br />
        Please use the header menu to navigate to, or search for the event you wish to locate.
    </p>
    <p>
        We are in the process of migrating the legacy video and audio files from December 2007 through to the past few weeks. This involves thousands of files and is due to complete over the next few days. 
    </p>
    <p>
        We appreciate your patience at this time.
    </p>
    <p>
        If you continually return to this page, and cannot find the information you are looking for, please contact us.
    </p>
    <br/>
    <br/>
</div>
