@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "404 page not found";
}

<section class="row-fluid bottomLine">
    <div class="span12">
        <header class="title">
            <h2 class="hidden-phone">404 page not found</h2>
            <h2 class="hidden-tablet hidden-desktop">Page not found</h2>
        </header>
        <p>
            The page you requested could not be found.
        </p>
        <a href="mailto:ondemandhelp@videoarts.co.uk" class="btn-block"><i class="icon-envelope icon-large icon-fixed-width">
        </i>Email: ondemandhelp@videoarts.co.uk</a>
    </div>
</section>
