@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "404 page not found";
}

<div class="container main-container">
    <br />
    <br />
    <h3>Sorry, the page you are looking for cannot be found</h3>
    <br />
    <p>
        How can you find what you were looking for?
    </p>
    <br />
    <ul>
        <li>
            If you typed the address into the Address bar, make sure that it is spelled correctly.
        </li>
        <li>
            Use our search facility on the top right-hand side of the page.
        </li>
    </ul>
    <br />
    <p>
        If you continually return to this page, and cannot find the information you are looking for, please contact us.
    </p>
    <br />
    <br />
</div>