@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<div class="container main-container">
    <br />
    <br />
    <h3>Server Error</h3>
    <p>
        A server error has occurred. We have been notified of the error. If this problem
        persists please contact us.
    </p>
    <br />
    <br />
</div>
