@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<section class="row-fluid bottomLine">
    <div class="span12">
        <header class="title">
            <h2 class="hidden-phone">Server Error</h2>
            <h2 class="hidden-tablet hidden-desktop">Server Error</h2>
        </header>
        <p>
            A server error has occurred. We have been notified of the error. If this problem
            persists please contact us.
        </p>
    </div>
</section>
