@model UKP.Website.Models.SearchViewModel


<div class="container main-container">
    <div class="row">

        <div class="col-md-12">
            <header class="title-main">
                <h2>
                    <i class="fa fa-search"></i> 
                    <span>Search</span>
                </h2>
                <a href="#" class="rss-link pull-right hidden-xs">RSS <i class="fa fa-rss fa-2x"></i></a>
            </header>
        </div>
        
        <div class="col-md-12">
            <button type="button" class="btn btn-default btn-go btn-lg btn-search-panel btn-block visible-xs" data-toggle="collapse" data-target="#searchPanel">
                Search now <i class="fa fa-plus"></i>
            </button>
        </div>

        <div id="searchPanel" class="collapse in">
            <div class="col-md-12 page-title-bar">
                <header>
                    <h3>Enter a Keyword & add tags to help if required:</h3>
                </header>
            </div>
            
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group search-param">
                            <label for="keyword"><h4>1. Keywords</h4></label>
                            <input type="text" class="form-control input-lg" id="keyword">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group search-param">
                            <label for="members"><h4>2. Members</h4></label>
                            <input type="text" class="form-control input-lg" id="members">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group search-param">
                            <label for="tags"><h4>3. Tags</h4></label>
                            <input type="text" class="form-control input-lg" id="tags">
                        </div>
                    </div>


                </div>
            </div>


            <div class="col-md-12">

                <button type="button" class="btn btn-default btn-tag btn-lg">lords <i class="fa fa-close fa-lg"></i></button>
                <button type="button" class="btn btn-default btn-tag btn-lg">commons <i class="fa fa-close fa-lg"></i></button>
                <button type="button" class="btn btn-default btn-tag btn-lg">party <i class="fa fa-close fa-lg"></i></button>

                <div>
                    <button type="button" class="btn btn-default btn-go btn-lg">Search <i class="fa fa-arrow-right-thin fa-lg"></i></button>
                </div>
            </div>

        </div>

        <div class="col-md-12 page-filter-bar">
            <div class="row">
                <div class="col-md-10"><h4><strong>200 Search Results for:</strong> Election  - Lords, Commons, Party</h4></div>
                <div class="col-md-2">
                    <select class="selectpicker select-filter form-control">
                        <option value="0">Last 30 days</option>
                        <option value="1">Last 10 days</option>
                    </select>
                </div>
            </div>
            <hr />
        </div>

        <div class="col-md-12 search-item">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <a href="#" class="search-thumb-inner">
                        <img src="@Url.Content("~/Content/img/filler-thumb-1.jpg")" alt="alt tag here" class="img-responsive">
                        <span class="img-stack fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                        <div class="overlay">
                            <span class="overlay-stack fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                            <strong>Play event from start</strong>
                        </div>
                    </a>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-7">
                    <div class="search-text-inner">
                        <h5><i class="fa fa-circle hidden-lg"></i><strong>Start Time:</strong> Thursday 9 May 2014 09:00</h5>  <h5 class="date-divider"><i class="fa fa-circle hidden-lg"></i><strong>End Time:</strong> Friday 10 May 2014 10:00</h5>

                        <p><strong>HoC Political and Constitutional Reform Committee</strong></p>
                        <p>Broadcast General Election Debates</p>

                        <div class="row moments">
                            <div class="col-md-12 moment-item">
                                <a href="#" class="outer-border">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                            <div class="moment-thumb">
                                                <span class="fa-stack fa-lg visible-xs visible-sm"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                                <img src="@Url.Content("~/Content/img/filler-thumb-1.jpg")" alt="alt tag here" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                                            <div class="inner">
                                                <p><strong>5: Questions to the Secretary of State for Education</strong></p>
                                                <span class="moment-play visible-md visible-lg">
                                                    Play item
                                                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-12 moment-item">
                                <a href="#" class="outer-border">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                            <div class="moment-thumb">
                                                <span class="fa-stack fa-lg visible-xs visible-sm"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                                <img src="@Url.Content("~/Content/img/filler-thumb-1.jpg")" alt="alt tag here" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                                            <div class="inner">
                                                <p><strong>5: Questions to the Secretary of State for Education</strong></p>
                                                <span class="moment-play visible-md visible-lg">
                                                    Play item
                                                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-12 moment-item">
                                <a href="#" class="outer-border">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                                            <div class="moment-thumb">
                                                <span class="fa-stack fa-lg visible-xs visible-sm"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                                <img src="@Url.Content("~/Content/img/filler-thumb-1.jpg")" alt="alt tag here" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                                            <div class="inner">
                                                <p><strong>5: Questions to the Secretary of State for Education</strong></p>
                                                <span class="moment-play visible-md visible-lg">
                                                    Play item
                                                    <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-play fa-stack-1x fa-inverse"></i> </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <hr />
        </div>

    </div>
</div>