@model UKP.Website.Models.SearchViewModel

<!DOCTYPE html>
<html>
    <head>
        <link rel="text/stylesheet" href="@Url.Content("~/Content/css/style.css")" />
        <script src="@Url.Content("~/Content/js/jquery.min.js")"></script>
        <script src="@Url.Content("~/Content/js/jquery.autocomplete.js")"></script>
    </head>
    <body>
        <form>
            <div>
                <label for="keywords">Keywords</label>
                <input type="text" name="keywords" id="keywords" />
            </div>
            
            <div>
                <label for="tags">Tags</label>
                <input type="text" name="tags" id="tags" />
            </div>
        </form>
        
        <script>
            var a = $('#keywords').autocomplete({
                serviceUrl: "@Model.MemberAutocompleteUrl",
                displayItem: "DisplayAs",
                objectPath: "Members.Member",
                minChars: 3,
                // callback function:
                onSelect: function (member) {
                    console.log(member['@@Member_Id']);
                },
            });
        </script>
        
        <script>
            var a = $('#tags').autocomplete({
                serviceUrl: "http://local.ias.ukp/api/search/tags?tag=",
                delimiter: ', ',
                displayItem: "displayTag",
                objectPath: "",
                minChars: 1,
                // callback function:
                onSelect: function (member) {
                    console.log(member.category + " " + member.tag);
                },
            });
        </script>

    </body>
</html>